// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.part-navigation {
    border-bottom: 1px solid #b1b4b6;
}
.pagination__link {
    display: block;
    padding: 15px;
    text-decoration: none;
}
a:hover {
   background-color: rgba(0,0,0,0.03);
   -webkit-tap-highlight-color: rgba(0,0,0,0.3);
}

.pagination__item_title {
    font-size: 16px;
    line-height: 1.25;
}

.pagination__item {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    list-style: none;
}

.pagination__link-title {
    display: block;
}

.pagination__link-text {
    font-size: 19px;
    line-height: 1.3157894737;
}

.pagination__link-label {
    display: inline-block;
    margin-top: .1em;
    text-decoration: underline;
    margin-left: 30px;
}
.pagination__link-text {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin-left: 10px;
}

.pagination__link-divider {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}
.visually-hidden, .visuallyhidden {
    position: absolute;
    left: -9999em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.document-list__item-title {
    font-size: 19px;
    line-height: 1.3157894737;
    text-decoration: none;
    font-weight: 700;
}

.document-list__item {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid 
    #b1b4b6;
    list-style: none;
}
.document-list {
    color: 
    #0b0c0c;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}