<div class="facets__tags-block js-mobile-facet-tag-block" data-module="remove-filter">
    <span class="govuk-visually-hidden">
        18 schemes

    </span>
        
 
    
    
    <div class="facet-tags" data-module="track-click">

        {% for group, value in facets %}
        <div class="facet-tags__group">
 
            {% for item in value.listOfItems %}
            <div class="facet-tags__wrapper">
                <p class="facet-tags__preposition">
                    {% if (loop.index==1) %}
                        {{value.title}}
                    {% else %}
                        or 
                    {% endif %}</p>
                <div class="facet-tag">
                    <p class="facet-tag__text">{{item}}</p>
                    <button type="button" class="facet-tag__remove" aria-label="Remove filter {{item}}"
                        data-module="remove-filter-link" data-track-label="{{item}}" data-facet="{{group}}"
                        data-value="{{item}}" data-name="">✕</button>
                </div>
            </div>
            {% endfor %}
            
        </div>
        {% endfor %}

    </div>

</div>

<!-- <button class="app-c-button-as-link facets__clear-link js-clear-selected-filters" type="button">
    Clear all filters
</button>
</div>
<div class="facets__footer">
    <button class="gem-c-button govuk-button js-close-filters js-show-results" type="button">
        Show <span class="js-result-count"> 18 schemes<span>
            </span></span></button>
</div>
</div>
</div>
</div>

<div class="js-live-search-fallback button__wrapper">
    <button class="gem-c-button govuk-button gem-c-button--bottom-margin" type="submit">Filter results</button>
</div>
</div> -->