      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m govuk-!-font-size-19" id="subsection-title">
          Related content 
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Employing staff for the first time
              </a>
            </li>
            <li>
              <a href="#">
                Get help and support for your business
              </a>
            </li>
            <li>
              <a href="#">
                Exporting and doing business abroad
              </a>
            </li>
            <li>
              <a href="#">
                Marketing and advertising: the law
              </a>
            </li>
            <li>
              <a href="#">
                Claiming Research and Development tax reliefs
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>