<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>

{% for scriptUrl in extensionConfig.scripts %}
  <script src="{{scriptUrl}}"></script>
{% endfor %}

<script src="/public/javascripts/application.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}

<script>
  // on checkbox click update the URL
  //https://www.gov.uk/business-finance-support
  //?types_of_support[]=finance&types_of_support[]=equity
  	
	$("input[type='checkbox']").change(function(){

    //commented out to remove click event from wizard pages
    // TODO only apply these event to filter checkboes
/* 
    var isChecked = $(this).prop('checked');
    if(isChecked){
      // add to filter
      console.log( this.name, this.value, isChecked );
      //check for first item
      if (window.location.href.indexOf("?")>-1){
        window.location.href += "&"+ this.name + "=" + this.value;
      }else{
        window.location.href += "?"+ this.name + "=" + this.value;

      }
    }else{
      //remove from filter
    }
 */

	});

  
  //  toggle search filters 
  $(".app-c-option-select__button").click(function(){
    //console.log( this );
    console.log( this.id );

  });

  // on load; get all the check boxes and update based on filters

</script>

