{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Get extra funding
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Growing your business</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <aside class="" role="complementary">
      <nav class="part-navigation govuk-!-padding-bottom-3" aria-label="Pages in this guide" role="navigation" >
        <h3 class="govuk-heading-s  govuk-!-font-size-1">Contents</h3>
        <ul class="govuk-list govuk-!-font-size-16">
            <li class="list">
              <a class="govuk-link "  href="/growing-your-business">Plan for growth</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/get-extra-funding">Get funding to grow your business</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/increase-sales-to-existing-customers">Increase sales to existing customers</a>
            </li>
            <li class="">
              <a class="govuk-link "  href="/attract-new-customers">Attract new customers</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/improve-your-products-and-services">Improve your products and services</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/develop-new-products-and-services">Develop new products and services</a>
            </li>
            <li class=" list__list-item--active" aria-current="true">
              <a class="govuk-link " href="/work-with-a-mentor">Hire and train staff</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/work-with-a-mentor">Work with a mentor</a>
            </li>
        </ul>
      </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-one-third">
    </div>
    
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-font-size-27 govuk-!-padding-top-3">Get funding to grow your business</h2>

      <p class="govuk-body">
        Many companies can access funding to grow their business. 
        This service shows which finance options are available to you based on information about your business.
      </p>
        <p>
        When exploring finance options, you will need to know basic details about your business, 
        such as the number of employees and where it is located.
        </p>
     
      

      <a href="/business-funding-aim" role="button" draggable="false" 
      class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8" 
       data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>


      <nav class="" role="navigation" aria-label="Pagination">
        <ul class="pagination__list" data-module="track-click">
          <li class="pagination__link pagination__item  pagination__item--previous">
            <a href="/growing-your-business" class="pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/growing-your-business" data-track-dimension="previous" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Plan for growth</span>
            </a>
          </li>
          <li class="pagination__link pagination__item  pagination__item--next">
            <a href="/increase-sales-to-existing-customers" class="pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/growing-your-business/increase-sales-to-existing-customers" data-track-dimension="next" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="pagination__link-text">
                  Next
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Increase sales to existing customers</span>
            </a>
          </li>
      </ul>
      </nav>

    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
