{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Increase sales to existing customers
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Growing your business</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <aside class="" role="complementary">
      <nav class="part-navigation govuk-!-padding-bottom-3" aria-label="Pages in this guide" role="navigation" >
        <h3 class="govuk-heading-s  govuk-!-font-size-1">Contents</h3>
        <ul class="govuk-list govuk-!-font-size-16">
            <li class="list">
              <a class="govuk-link "  href="/growing-your-business">Plan for growth</a>
            </li>
            <li class="govuk-link">
              <a class="govuk-link " href="/get-extra-funding">Get funding to grow your business</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/increase-sales-to-existing-customers">Increase sales to existing customers</a>
            </li>
            <li class="">
              <a class="govuk-link "  href="/attract-new-customers">Attract new customers</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/improve-your-products-and-services">Improve your products and services</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/develop-new-products-and-services">Develop new products and services</a>
            </li>
            <li class=" list__list-item--active" aria-current="true">
              <a class="govuk-link " href="/work-with-a-mentor">Hire and train staff</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/work-with-a-mentor">Work with a mentor</a>
            </li>
        </ul>
      </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-one-third">
    </div>
    
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-padding-top-3">Increase sales to existing customers</h2>

      <div class="" data-module="govspeak">
        <p>How you go about increasing sales depends on your circumstances and how your business is performing. You might choose to focus on customers who’ve already bought from you, or you could try to <a href="/growing-your-business/attract-new-customers">win new customers</a> in your local area, nationally or overseas.</p>
  
  <p>The simplest way to increase your sales is to sell more of the products or services you’re selling at the moment to the customers who are already buying them. For most businesses this involves:</p>
  
  <ul class="govuk-list  govuk-list--bullet">
    <li class="list">persuading one-off customers to become repeat customers</li>
    <li class="list">finding customers who’ve stopped buying from you and trying to win them back</li>
    <li class="list">selling more of the same products or services to your regular customers</li>
  </ul>
  
  <p>By keeping a record of who your customers are and what you sold to them, you can work out who’s stopped buying from you, and who might consider buying more. Targeting these customers is often a cheaper and more effective way to increase sales than trying to find new ones.</p>
  
  <h2 id="review-your-prices" class="govuk-heading-l">Review your prices</h2>
  
  <p>Regularly reviewing your prices and checking them against your competitors can be an effective way of increasing your sales, profits or both.</p>
  
  <p>You should try to estimate the likely effect of different price changes on the sales, cash flow and profitability of your business before making any changes. To do this successfully, you need to understand:</p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li class="list">the ‘cost structure’ of your business (including regular ‘fixed’ costs, and ‘variable’ costs that change according to your business’ activity)</li class="list">
    <li class="list">the value your customers place on your products and services</li">
  </ul>
  
  <p>It’s worth bearing in mind that offering a discount can sometimes reduce your overall profitability, even if your sales go up. Equally, you might be able to make more profit overall by increasing prices, even if you’re selling fewer items.</p>
  
  <p>Small changes to pricing like providing loyalty schemes or bulk discounts can increase sales to both existing and former customers.</p>
  
  <div class="example">
  <p><strong>Example</strong></p>
  
  <p>A car wash offers free cleaning every tenth visit if customers opt for the deluxe service. Even though they’re giving something away for free, the value of repeat business from loyal customers means that profits go up.</p>
  
  <p>It’s likely that it would’ve cost significantly more to generate the same amount of sales with new customers, resulting in less profit.</p>
  </div>
  
  <p>You should also regularly check the price you’re selling products and services at against competitors. This will help you find out if you’re:</p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li>losing customers who get the same product or service elsewhere for less money</li>
    <li>sacrificing profitability, because customers are willing to pay more than you’re charging them</li>
  </ul>
  
  <div role="note" aria-label="Information" class="application-notice info-notice">
  <p>Find resources on <a rel="external" href="http://www.marketingdonut.co.uk/marketing/marketing-strategy/pricing">pricing strategy</a> and increasing <a rel="external" href="http://www.marketingdonut.co.uk/marketing/sales">sales</a> on the Marketing Donut website.</p>
  </div>

      <nav class="" role="navigation" aria-label="Pagination">
        <ul class="pagination__list" data-module="track-click">
          <li class="pagination__link pagination__item  pagination__item--previous">
            <a href="/get-extra-funding" class="pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/growing-your-business" data-track-dimension="previous" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Get extra funding</span>
            </a>
          </li>
          <li class="pagination__link pagination__item  pagination__item--next">
            <a href="/increase-sales-to-existing-customers" class="pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/growing-your-business/increase-sales-to-existing-customers" data-track-dimension="next" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="pagination__link-text">
                  Next
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Attract new customers</span>
            </a>
          </li>
      </ul>
      </nav>

    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>
  </div>
{% endblock %}
