{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Add your business stage
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        
<form method="post" autocomplete="off" novalidate action="summary">

        <div class="govuk-form-group">
        
          <fieldset class="govuk-fieldset">
          
          <legend class="govuk-fieldset__legend govuk-label--xl">
            <h1 class="govuk-fieldset__heading">
              <span class="govuk-caption-xl">Business Growth: Step 5 of 5</span> How long has your business been trading?
            </h1>
          </legend>
          <!-- <h2 class="govuk-heading-m">Copy goes here</h2> -->
<!-- 
          <p>
            Different grants, loans and equity options are available 
            depending on how long your company has been trading.
            Pick the category that matches your company to get results tailored to your situation.
          </p>
             -->
                  
        
          <div class="govuk-radios">
            
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="businessStage-1" name="businessStage" type="radio" value="1" {{ checked("businessStage", "1") }}>
              <label class="govuk-label govuk-radios__label govuk-label--s" for="businessStage-1">
                Not yet trading
              </label>
            </div>
            

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="businessStage-2" name="businessStage" type="radio" value="2" {{ checked("businessStage", "2") }}>
              <label class="govuk-label govuk-radios__label govuk-label--s" for="businessStage-2">
                Start-ups (1-2 years trading)
              </label>
            </div>
            

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="businessStage-3" name="businessStage" type="radio" value="3" {{ checked("businessStage", "3") }}>
              <label class="govuk-label govuk-radios__label govuk-label--s" for="businessStage-3">
                Established
              </label>
            </div>
            

          </div>
          </fieldset>
        
        
        </div>
        
        <button type="submit" class="govuk-button" id="submit">
          Continue
        </button>
        
        </form>
        <!-- <p>
          If you are not sure of exact nature of your question press continue and all possible options will be shown.
          You can come back and changed the selection later.
        </p> -->

    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
