{% extends "layout.html" %}

{% block pageTitle %}
  Add your business size
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        
<form method="post" autocomplete="off" novalidate action="industry">


    <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
        
        <legend class="govuk-fieldset__legend govuk-label--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">Business Growth</span> How many people work in your business?
          </h1>
        </legend>
        
      
        <div class="govuk-radios">
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="businessSize-1" name="businessSize" type="radio" value="1">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="businessSize-1">
              Less than 10
            </label>
          </div>
          
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="businessSize-2" name="businessSize" type="radio" value="2">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="businessSize-2">
              Small (10-249)
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="businessSize-3" name="businessSize" type="radio" value="3">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="businessSize-3">
              Medium (250-499)
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="businessSize-4" name="businessSize" type="radio" value="4">
            <label class="govuk-label govuk-radios__label govuk-label--s" for="businessSize-4">
              Large (over 500)
            </label>
          </div>
        
        </div>
        </fieldset>
      
      
      </div>
      
      
        
      
        
        
          
        
      
      <button type="submit" class="govuk-button" id="submit">
        Continue
      </button>
      
      </form>
      
    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
