{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Increase sales to existing customers
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Growing your business</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <aside class="" role="complementary">
      <nav class="part-navigation govuk-!-padding-bottom-3" aria-label="Pages in this guide" role="navigation" >
        <h3 class="govuk-heading-s  govuk-!-font-size-1">Contents</h3>
        <ul class="govuk-list govuk-!-font-size-16">
            <li class="list">
              <a class="govuk-link "  href="/growing-your-business">Plan for growth</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/get-extra-funding">Get extra funding</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/increase-sales-to-existing-customers">Increase sales to existing customers</a>
            </li>
            <li class="">
              <a class="govuk-link "  href="/attract-new-customers">Attract new customers</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/improve-your-products-and-services">Improve your products and services</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/develop-new-products-and-services">Develop new products and services</a>
            </li>
            <li class=" list__list-item--active" aria-current="true">
              <a class="govuk-link " href="/work-with-a-mentor">Hire and train staff</a>
            </li>
            <li class="">
              <a class="govuk-link " href="/work-with-a-mentor">Work with a mentor</a>
            </li>
        </ul>
      </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-one-third">
    </div>
    
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-font-size-27 govuk-!-padding-top-3">Increase sales to existing customers</h2>

      <p>How you go about increasing sales depends on your circumstances and how your
         business is performing. You might choose to focus on customers who’ve already
          bought from you, 
        or you could try to win new customers in your local area, nationally or overseas.</p>  


      <ul class="govuk-list govuk-list--bullet">
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
        </li>
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
          improving your products and services by researching and testing changes with your customers
        </li>
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
        developing new products and services, and selling them to new or existing markets
        </li>
        <li> looking into ways of increasing your sales, both to existing customers and new customers
        taking on staff or training your current staff, including working with apprentices and mentors
        </li>
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
        looking for additional sources of funding, such as bringing in new investors
        </li>
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
        thinking about selling your products or services online
        </li>
        <li>
          looking into ways of increasing your sales, both to existing customers and new customers
        work with a business mentor, who can help you think about how to do all of these things
        </li>
      </ul class="govuk-list govuk-!-font-size-16">

      <nav class="" role="navigation" aria-label="Pagination">
        <ul class="pagination__list" data-module="track-click">
          <li class="pagination__link pagination__item  pagination__item--previous">
            <a href="/get-extra-funding" class="pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/growing-your-business" data-track-dimension="previous" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Get extra funding</span>
            </a>
          </li>
          <li class="pagination__link pagination__item  pagination__item--next">
            <a href="/increase-sales-to-existing-customers" class="pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/growing-your-business/increase-sales-to-existing-customers" data-track-dimension="next" data-track-dimension-index="29">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="pagination__link-text">
                  Next
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Attract new customers</span>
            </a>
          </li>
      </ul>
      </nav>

    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>
  </div>
{% endblock %}
