{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Add the type of industry
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        
<form method="post" autocomplete="off" novalidate action="region">
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="industryType">
            <span class="govuk-caption-xl">Business Growth: Step 4 of 5</span> What type of work does your business do?
          </label>
        </h1>
      
        <!-- <h2 class="govuk-heading-m">Copy goes here</h2> -->

        <p>
          Financial support is sometimes targeted to help companies working in specific sectors,
          eg bioenergy, low carbon projects, Agritech industries. Occasionally certain business 
          will be excluded from particular sources of finance.
        </p>
        <p>
          Use the list below to find opportunites that are tailored to your business. 
          If you are not sure of exact nature of your question press continue and skip this question.
          You can come back and changed the selection later.
        </p>
          
        <!-- <p>
          Duis aute irure dolor in reprehenderit in voluptate velit
          esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p> -->
      
        <select class="govuk-select" id="industryType" name="industryType">
        
          <option value=""></option>     
          <option value="0">Not Sure</option>     
          <option value="1">Agriculture and food</option>     
          <option value="2">Business and finance</option>     
          <option value="3">Construction</option>     
          <option value="4">Education</option>     
          <option value="5">Health</option>     
          <option value="6">Hospitality and catering</option>     
          <option value="7">IT, digital and creative</option>     
          <option value="8">Life Sciences</option>     
          <option value="9">Manufacturing</option>     
          <option value="10">Mining</option>     
          <option value="11">Real estate and property</option>     
          <option value="12">Science and technology</option>     
          <option value="13">Service industries</option>     
          <option value="14">Transport and distribution</option>     
          <option value="15">Travel and leisure</option>     
          <option value="16">Utilities providers</option>     
          <option value="17">Wholesale and retail</option>
        
        </select>
      </div>

      <button type="submit" class="govuk-button" id="submit">
        Continue
      </button>
      
      </form>
      
      <!-- <p>
        If you are not sure of exact nature of your question press continue and all possible options will be shown.
        You can come back and changed the selection later.
      </p> -->
      
    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
