{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Finance and support for your business
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
{{ super() }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Business and self-employed</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Growing your business</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find support for your business
      </h1>

      <h2 class="govuk-heading-m">Copy goes here</h2>

      <p>
        The table below shows the options you have selected.
        Click continue to see the relevant support options for these options.
        You can also go back and change the selection.
      </p>
        
      <p>
        Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>

      <div>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of support
            </dt>
            <dd class="govuk-summary-list__value">
              {%  for item in display.types_of_support %}
              {{ item | capitalize }}<br/>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="type-of-support">
                Change<span class="govuk-visually-hidden"> type of support</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Size of business
            </dt>
            <dd class="govuk-summary-list__value">
              {%  for item in display.business_sizes %}
              {{ item | capitalize }}<br/>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-size">
                Change<span class="govuk-visually-hidden"> Size of business</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Stage of business 
            </dt>
            <dd class="govuk-summary-list__value">
              {%  for item in display.business_stages %}
              {{ item | capitalize }}<br/>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-stage">
                Change<span class="govuk-visually-hidden"> Stage of business</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of work 
            </dt>
            <dd class="govuk-summary-list__value">
              {%  for item in display.industries %}
              {{ item | capitalize }}<br/>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="industry">
                Change<span class="govuk-visually-hidden"> type of work </span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Region
            </dt>
            <dd class="govuk-summary-list__value">
              {%  for item in display.regions %}
              {{ item | capitalize }}<br/>
              {% endfor %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="region">
                Change<span class="govuk-visually-hidden"> Regions</span>
              </a>
            </dd>
          </div>
        </dl>

    </div>

    <div>    
      <form method="post" autocomplete="off" novalidate action="results">
          <input type="hidden" id="custId" name="params" value="{{params}}">
          <button class="govuk-button" data-module="govuk-button">
              Find resources
          </button>
      </form>
    </div>

    </div>
    <div class="govuk-grid-column-one-third">
     
    </div>
  </div>

  
{% endblock %}
