{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Type of support needed
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        
<form method="post" autocomplete="off" novalidate action="business-stage">
<div class="govuk-form-group">

    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-label--xl">
      <h1 class="govuk-fieldset__heading">
        <span class="govuk-caption-xl">Business Growth: Step 1 of 5</span> What type of support do you need?
      </h1>
    </legend>
    
    <h2 class="govuk-heading-m">Funding options</h2>

    <p>
      There are thousands of funding schemes across the UK that can help 
      with the costs of growing your business. 
      Each finance option has benefits and costs attached.
    </p>
      
    <ul class="govuk-list govuk-list--bullet">
      <li>Equity means that an organisation will own part of your business in exchange for money. </li>
      <li>
      A loan is a sum of money that you can borrow and then will be required to pay back, 
      often with interest.
    </li>
      <li>
      A grant is a sum of money that you are given and you do not have to pay back, 
      but there may be some conditions on how you can use it. 
      Grants usually have a particular objective, 
      like supporting research and development or creating jobs.
      </li>
    </ul>
    <p>
      Select the type of funding you are interested in.
    </p>

    <div class="govuk-checkboxes">
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-2" name="typeOfSupport" type="checkbox" value="2">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-2">
          Equity
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-3" name="typeOfSupport" type="checkbox" value="3">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-3">
          Grant
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-4" name="typeOfSupport" type="checkbox" value="4">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-4">
          Loan
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-5" name="typeOfSupport" type="checkbox" value="5">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-5">
          Expertise and advice
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-6" name="typeOfSupport" type="checkbox" value="6">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-6">
          Recognition awards
        </label>
      </div>
                  
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-7" name="typeOfSupport" type="checkbox" value="7">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-7">
          I'm not sure
        </label>
      </div>
            
    </div>
    </fieldset>
  
  </div>

  <button type="submit" class="govuk-button" id="submit">
    Continue
  </button>
  
  </form>


    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
