{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Type of support needed
{% endblock %}

{% block header %}
  {% include "includes/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/banner_alpha.html" %}
<a href="javascript:window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     

        
<form method="post" autocomplete="off" novalidate action="business-stage">
<div class="govuk-form-group">

    <fieldset class="govuk-fieldset">
    
    <legend class="govuk-fieldset__legend govuk-label--xl">
      <h1 class="govuk-fieldset__heading">
        <span class="govuk-caption-xl">Business Growth: Step 1 of 5</span> What type of support do you need?
      </h1>
    </legend>
    
    <h2 class="govuk-heading-m">Company funding options</h2>

    <p>
      There are three primary ways companies finance their operations and growth
      in the short term and the long term: profits, debt financing, and equity financing.
      Profits are generated internally by the company, 
      but debt and equity are external and are controlled by management decision making.
      Both debt and equity financing supply a company with capital, but the similarities largely stop there
    </p>
      
    <p>
      Use the options below to find specific funding opportunites for your company.
    </p>
    <p>
      If you are not sure of exact nature of your question continue through the questions
       and all available options will be shown.
      You can come back and changed the selection later.
    </p>

    <div class="govuk-checkboxes">

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-1" name="typeOfSupport" type="checkbox" value="1">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-1">
          Finance
        </label>
      </div>

      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-2" name="typeOfSupport" type="checkbox" value="2">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-2">
          Equity
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-3" name="typeOfSupport" type="checkbox" value="3">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-3">
          Grant
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-4" name="typeOfSupport" type="checkbox" value="4">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-4">
          Loan
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-5" name="typeOfSupport" type="checkbox" value="5">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-5">
          Expertise and advice
        </label>
      </div>
      
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-6" name="typeOfSupport" type="checkbox" value="6">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-6">
          Recognition awards
        </label>
      </div>
                  
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="typeOfSupport-7" name="typeOfSupport" type="checkbox" value="7">
        <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="typeOfSupport-7">
          I'm not sure
        </label>
      </div>
            
    </div>
    </fieldset>
  
  </div>

  <button type="submit" class="govuk-button" id="submit">
    Continue
  </button>
  
  </form>


    </div>

    
    <div class="govuk-grid-column-one-third">
      {% include 'includes/related_content.html'%}
    </div>

  </div>
{% endblock %}
